@using MvcContrib.UI.Grid
@model StockTable

@{
    ViewBag.Title = "Stock Table";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stock Table</h2>

@Html.Grid(Model.Stocks).Columns(column =>
                                           {
                                               column.For(stock => stock.Code);
                                               column.For(stock => stock.Price);
                                           })