@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">
        http://asp.net/mvc</a>.
   
</p>
 <ul>
        <li>Another list item 1</li>
        <li>Another list item 2</li>
        <li>Another list item 3</li>
    </ul>